---

- name: define collected_facts
  set_fact:
    collected_facts: {}

- include_tasks: "{{ ansible_os_family }}.yml"

- name: create custom facts directory
  file:
    path: '{{ item }}'
    state: directory
    mode: '0755'
  loop:
    - /etc/ansible
    - /etc/ansible/facts.d

- name: write collected facts
  copy:
    content: '{{ collected_facts | to_json }}'
    dest: /etc/ansible/facts.d/custom.fact
    mode: '0644'
  register: custom_facts_file

- name: re-gather facts
  setup:
    gather_subset: 
      - '!all'
      - '!min'
      - local
  when: custom_facts_file.changed
    
- debug:
    msg: '{{ ansible_local }}'
