---

- set_fact:
    docker_gpg_dest: /usr/share/keyrings/docker.gpg

- name: Stat the gpg key
  ansible.builtin.stat:
    path: "{{ docker_gpg_dest }}"
    checksum_algorithm: sha256
  register: docker_gpg_checksum_actual

- name: Download the docker gpg key
  ansible.builtin.shell: "wget -O- https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg | sudo gpg --dearmor -o {{ docker_gpg_dest }}"
  when: 'not docker_gpg_checksum_actual.stat.exists or docker_gpg_checksum_actual.stat.checksum != docker_gpg_key_checksum'

- name: Add the docker repo
  ansible.builtin.apt_repository:
    repo: 'deb [signed-by="{{ docker_gpg_dest }}"] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} main'
    state: present
    filename: docker
    update_cache: true

