---

- include_vars: "{{ ansible_os_family }}.yml"

- name: make sure gnupg2 is installed
  ansible.builtin.apt:
    name: gnupg2
    cache_valid_time: 3600

- set_fact:
    hashi_gpg_dest: /usr/share/keyrings/hashicorp-archive-keyring.gpg

- name: Stat the gpg key
  ansible.builtin.stat:
    path: "{{ hashi_gpg_dest }}"
    checksum_algorithm: sha256
  register: hashi_gpg_checksum_actual

- name: Download the hashicorp gpg key
  ansible.builtin.shell: "wget -O- {{ hashicorp_gpg_key }} | sudo gpg --dearmor -o {{ hashi_gpg_dest }}"
  when: 'hashi_gpg_checksum_actual.stat.exists and hashi_gpg_checksum_actual.stat.checksum != hashicorp_gpg_key_checksum'

- name: Add the hashicorp repo
  ansible.builtin.apt_repository:
    repo: 'deb [signed-by="{{ hashi_gpg_dest }}"] https://apt.releases.hashicorp.com {{ ansible_distribution_release }} main'
    state: present
    filename: vault
    update_cache: true
